body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.header{
    position: fixed;
    width: 100vw;
    height: 15vh;
    min-height: 15vh;
    z-index: 100;
    top:0;
    left: 0;

    background-color: white;
}


.header-menu-ico{
    display: inline-block;
    position: absolute;
    top: 15px;
    left: 0;

    margin: 10px;
    opacity: 0.5;
}

.header-menu-search{
    display: inline-block;
    position: absolute;
    top: 20px;
    left: 60px;

    width: 20vw;
    height: 5vh;
}

.body{
    position: fixed;
    width: 100vw;
    height: 85vh;
    z-index: 100;
    margin-top:15vh;
}

.left-menu{
    display: flex;
    flex-direction: column;
    top: 15vh;
    overflow-y: scroll;
    overflow-x: hidden;

    min-width: 25vw;
    width: 25vw;
    height: 85vh;
    
    background-color: white;
    border-right: 2px solid rgba(141, 141, 141, 0.637);
}

.left-menu div{
    display: flex;
    justify-items: center;

    align-content: center;

    min-height: 15vh;
    min-width:25vw;
    width: 25vw;
    height: 15vh;

    align-items: center;

    border-bottom: 1px solid rgba(141, 141, 141, 0.637);

}

.left-menu div:hover{
    background-color: rgba(140, 170, 228, 0.644);
}

#left-menu-username{
    position: relative;
    top:0px; 
    left: 80px;
}

.left-menu-img{
    width: 80px;
    height: 80px;

    border-radius: 50%;
}

#chat-ico{
    position: absolute;
    top:-5px;
    left: 28vw;

    max-width: 80px;
    max-height: 80px;
    width: 80px;
    height: 80px;
    margin: 10px;

    background-color: white;
    border-radius: 50%;
}

#chat-name{
    position: absolute;
    left: 36vw;
    top: 25px;

    font-size: 20px;
    color: black;
}


#chat{
    display: grid;
    align-content: center;
    justify-content: center;
    grid-template-columns: 10vw 55vw 10vw;

    position: absolute;
    z-index: 50;
    top:0;
    right: 0;
    width: 75vw;
    height: 85vh;

    overflow-y: scroll;
    overflow-x: hidden;
    background-image: url("../images/36401449295_e25881d153_b.jpg");
}


#sender-message{
    grid-column: 2;
    width: 50vw;

    padding: 15px;
    margin: 15px 0px 15px 20px;

    transform-origin: left center;
    border-radius: 10%;
    background-color: rgb(152, 176, 179);
    
}

#sender-message-ico{
    grid-column: 3;
    width: 50px;
    height: 50px;

    margin:25px;


    border-radius: 50%;
}

#reciver-message{
    grid-column: 2;
    width: 50vw;

    padding: 15px;
    margin: 15px 20px 15px 0px;

    border-radius: 10%;
    background-color: whitesmoke;
    
}

#reciver-message-ico{
    grid-column: 1;
    width: 50px;
    height: 50px;

    margin: 25px 0px 25px 45px;

    border-radius: 50%;
}