.header {
    position: fixed;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: space-between;
    z-index: 100;
    top:0;
    left: 0;
    background-color: #fff;
}



.header-left-menu {
    height: 90px;
    display: flex;
    z-index: 100;
    top: 0;
    margin: 0;
 
}


.header-right-menu {
    height: 90px;
    display: flex;
    color: rgb(75, 74, 74);
    z-index: 100;
    top:0;
    right:0;
}

.header-right-menu-items{
    margin-top: 35px;
}

#logo {
    height: 90px;
}

.header-text {
    color: #737373;
    display: inline-block;
    border-left: solid 1px #e5e5e5;
    width: 215px;
    text-align: left;
}

button {
    background-color: #fff;
    border: none;
    font-size: 18px;
    color: rgb(75, 74, 74);
    width: 120px;
    height: 25px;
    align-self: center;
}

button:hover {
    color: blue;
}


ul {
    display: block;
    list-style: none;
    align-self: center;
    font-size: 18px;
    margin-top: 26px;
    color: rgb(75, 74, 74);
}

ul:after {
    display: block;
    content: ' ';
    clear: both;
    float: none;
}

ul.menu>li {
    float: left;
    position: relative;
}

ul.menu li a {
    display: block;
    padding: 10px;
    font-size: 18px;
    color: rgb(75, 74, 74);
    background-color: white;
    text-decoration: none;
}

ul.menu li a:hover {
    color: blue;
}

ul.submenu {
    display: none;
    position: absolute;
    width: 120px;
    left: 0;
    background-color: white;
    border: 1px solid lightgray;
}

ul.submenu>li {
    display: block;
}

ul.submenu>li>a {
    display: block;
    color: rgb(75, 74, 74);
    background-color: white;
    text-decoration: none;
}

ul.submenu>li>a:hover {
    text-decoration: none;
    color: blue;
}

ul.menu>li:hover>ul.submenu {
    display: block;
}

#container{
    position: absolute;
    top:100px;
    left: 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    z-index: 50px;
}

#content{
    height: 360px;
    width: 400px;
}

.card {
    position: relative;
    height: 360px;
    width: 400px;
    
    margin-top: 20px;

    background-color: rgb(54, 53, 53);
    border-radius: 20%;
}


#img {
    width: 400px;
    border-top-left-radius: 20%;
    border-top-right-radius: 20%;
}


.card-header{
    display:block;
    position:absolute;
    left:0;
    bottom:0;
    top:0;
    width: 400px;
    height: 214.16px;
    background-color: rgba(0, 0, 0, .4);
    border-top-left-radius: 20%;
    border-top-right-radius: 20%;
}

.card-header-text {
    display:block;
    position:absolute;
    top: 20px;
    left:15px;

    color: #FFF;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.card-bottom{
    display:block;
    position:absolute;
    left:0;
    bottom: 10;
    width: 400px;

    background-color: none;
}

.card-short-text{ 
    position:relative;
    top: 0px;
    left:10px;
    right: 10px;
    bottom: 10px;

    color: #FFF;
    font-family: Arial, Helvetica, sans-serif;
}

.btn-try{
    position: relative;
    top:40;
    left:0;

    width: 400px;
    height: 25;

    background: none;
    color: #fff;
}

.btn-try:hover{
    color: rgb(142, 128, 182);
}

.btn-try:focus{
    border: none;
}
