.header{
    position: fixed;
    width: 100vw;
    height: 10vh;
    z-index: 100;
    top:0;
    left: 0;

    background-color: white;
}

.header-chat{
    display: inline-block;
    position: absolute;
    top:0;
    left: 28vw;

    width: 72vw;
}

#chat-name{
    position: absolute;
    left: 30px;
    top: 0px;
}

.chat-users-count{
    position: absolute;
    left: 30px;
    top: 20px;

    color: rgba(161, 180, 180, 0.842);
}

.header-menu-ico{
    display: inline-block;
    position: absolute;
    top: 15px;
    left: 0;

    margin: 10px;
    opacity: 0.5;
}

.header-menu-search{
    display: inline-block;
    position: absolute;
    top: 20px;
    left: 60px;

    width: 20vw;
    height: 4vh;
}

.left-menu{
    position: absolute;
    top:0;
    left: 0;
    width: 28vw;
    height: 100vh;

    border-right: 2px solid rgba(128, 128, 128, 0.637);
}

.chat{
    position: absolute;
    z-index: 50;
    top:0;
    right: 0;
    width: 72vw;
    height: 100vh;

    background-image: url("../images/36401449295_e25881d153_b.jpg");
}