.header{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: space-between;    
}



.header-left-menu{
    height: 90px;
    display: flex;
    z-index: 100;
    top: 0;
    margin: 0;
    background-color: #fff;
}

.header-left-menu div{
    height: 90px;
    margin: 10px;
}

.header-right-menu{
    height: 90px;
    display: flex;
    z-index: 100;
    margin-top: 35px;
    color: rgb(75, 74, 74);
    background-color: #fff;
}




img{
    height: 90px;
}

p{
    color: #737373;
    display: inline-block;
    border-left: solid 1px #e5e5e5;
    width: 215px;
    text-align: left;
}

button{
    background-color: #fff;
    border: none;
    font-size: 18px;
    color: rgb(75, 74, 74);
    width: 120px;
    height: 25px;
    align-self: center;
}

button:hover{
    color: blue;
}


ul {
    display: block;
    list-style: none;
    align-self: center;
    font-size: 18px;
    color: rgb(75, 74, 74);
}
ul:after {
    display: block;
    content: ' ';
    clear: both;
    float: none;
}
ul.menu > li {
    float: left;
    position: relative;
}
ul.menu li a {
    display: block;
    padding: 10px;
    font-size: 18px;
    color: rgb(75, 74, 74);
    background-color: white;
    text-decoration: none;
}
ul.menu  li  a:hover {
    color: blue;
}
ul.submenu {
    display: none;
    position: absolute;
    width: 120px;
    left: 0;
    background-color: white;
    border: 1px solid lightgray;
}
ul.submenu > li {
    display: block;
}
ul.submenu > li > a {
    display: block;
    color: rgb(75, 74, 74);
    background-color: white;
    text-decoration: none;
}
ul.submenu > li > a:hover {
    text-decoration: none;
    color: blue;
}

ul.menu > li:hover > ul.submenu {
    display: block;
}

